*{
  margin     : 0px ;
  padding    : 0px ;
  font-family:'黑体';
}
html,body{
  height: 100%;
  overflow: hidden;
}

#container{
  width: 100%;
  height: 100%;
  background: url('https://images.pexels.com/photos/6985001/pexels-photo-6985001.jpeg?cs=srgb&dl=pexels-gradienta-6985001.jpg&fm=jpg') center no-repeat;
  background-size: cover;
  background-color: grey;
}

#t_container{
  position  : absolute;
  padding-top: 80px;
  left    : 15%;
  width   : 80%;
  height  : 90%;
  border-left: groove 6px;
}

#t_date{
  overflow : visible;
  position : inherit;
  height   : auto;
}

#t_contentContainer{
  position: inherit;
  width   : 90%;
  height  : 75%;
  left    : 36px;
}

.t_content::before{
  position   : absolute;
  content    : '\25c2';
  left       : -12px;
  margin-top : -4px;
  font-size  : 24px;
  color      : black;
  float      : left;
}

.t_content{
  padding         : 5px;
  height          : 100%;
  line-height     : 20px;
  border-radius   : 5px;
  color           : white;
  box-shadow      : 20px 2px 10px rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y      : auto;
}
.t_content > p,span{
  font-family: cursive;
}
.t_content:hover{

}

li{
  list-style: none;
}
li#d313::before{
  position: relative;
  content: '2021.3.13';
  left: -80px;
}
li#d315:before{
  position: relative;
  content: '2021.3.15';
  left: -80px;
}
li#d320:before{
  position: relative;
  content: '2021.3.20';
  left: -80px;
}
li#d327:before{
  position: relative;
  content: '2021.3.27';
  left: -80px;
}
li#d402:before{
  position: relative;
  content: '2021.4.02';
  left: -80px;
}
li#d405:before{
  position: relative;
  content: '2021.4.05';
  left: -80px;
}
li#d228:before{
  position: relative;
  content: '2021.2.28';
  left: -80px;
}
li#d406:before{
  position: relative;
  content: '2021.4.06';
  left: -80px;
}
li#d415:before{
  position: relative;
  content: '2021.4.15';
  left: -80px;
}
li#d417:before{
  position: relative;
  content: '2021.4.17';
  left: -80px;
}
li#d423:before{
  position: relative;
  content: '2021.4.23';
  left: -80px;
}
li#d426:before{
  position: relative;
  content: '2021.4.26';
  left: -80px;
}
li#d430:before{
  position: relative;
  content: '2021.4.30';
  left: -80px;
}
li#d502:before{
  position: relative;
  content: '2021.5.02';
  left: -80px;
}
li#d505:before{
  position: relative;
  content: '2021.5.05';
  left: -80px;
}
li#d515:before{
  position: relative;
  content: '2021.5.15';
  left: -80px;
}
li#ds2:before{
  position: relative;
  content: 'In a word';
  left: -80px;
}

li.click{
  width        : 32px;
  height       : 32px;
  margin-left  :-20px;
  margin-bottom: 30px;
  transition   : width 0.5s, height 0.5s;
  background   : url('../click.png') no-repeat;
  background-size: cover;
}

li.on{
  width     : 38px;
  height    : 38px;
  transition: width 0.5s, height 0.5s;
}

h1,h2,h3,h4{
  color: #1C86EE;
  font-family: monospace;
}

.detailTime{
  color        : #9C9C9C;
  margin-left  : 5px;
  line-height  : 200%;
  font-size    : 16px
  border-bottom: groove 1px;
}
